.header {
  box-shadow: none;
  background-color: transparent;

  &__toggle {
    display: none;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo {
      color: rgba(255, 255, 255, 0.7);
      text-transform: capitalize;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: 700;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;

      &:hover {
        color: #fff;
      }
    }

    &-list {
      display: flex;
      margin-left: auto;
      overflow: hidden;
      transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;

      &-item {
        &-link {
          text-transform: capitalize;
          font-weight: 700;
          font-size: 14.4px;
          color: rgba(255, 255, 255, 0.7);
          padding: 0 16px;
          transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 992px) {
  .header {
    background-color: #fff;
    position: relative;

    &__menu {
      &-list {
        max-height: 0;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        width: 100%;
        flex-direction: column;
        padding-left: 15px;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;

        &-item {
          &-link {
            text-transform: capitalize;
            font-weight: 700;
            font-size: 14.4px;
            color: #6c757d;
            padding: 12px 0;
            display: block;
          }
        }
      }

      &-logo {
        color: #212529;
      }

      &-list-show-menu {
        max-height: 100vh;
      }
    }

    &__toggle {
      display: block;
    }


  }
}