.portfolio {
  &__item {
    &-box {
      color: #f4623a;
      text-decoration: none;
      background-color: transparent;
      position: relative;

      &-caption {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        opacity: 0;
        color: #fff;
        background: rgba(244, 98, 58, 0.9);
        transition: opacity 0.25s ease-in-out;
        -webkit-transition: opacity 0.25s ease-in-out;
        -moz-transition: opacity 0.25s ease-in-out;
        -ms-transition: opacity 0.25s ease-in-out;
        -o-transition: opacity 0.25s ease-in-out;

        .project-category {
          font-family: "Merriweather Sans";
          font-size: 13.6px;
          font-weight: 600;
          text-transform: uppercase;
        }

        .project-name {
          font-size: 19.2px;
        }
      }

      &:hover {
        color: #d6370c;
        text-decoration: underline;

        .portfolio__item-box-caption {
          opacity: 1;
        }
      }
    }
  }
}